#tabuleiro {
    width: 330px;
    height: 650px;
    position: absolute;
    left: 160px;
    border: 3px solid #ff3c3c;


}

#proxima-peca {

  position: absolute;
  width: 102px;
  height: 102px;
  top: 10px;
  left: 520px;
}

#informacoes {
    position: absolute;
    width: 136px;
    height: 136px;
    left: 505px;

}



body {
    background-color: #0f0d17;
}

table {

}

td {
    padding: 15px;
}

button {
    position: absolute;
    width: 100px;
    top: 10px;
    left: 200px;

}
