#tabuleiro {
  position: absolute;
  top: 50px;
  left: 730px;
  background-color: rgb(44, 49, 57);
}

#proxima-peca {
  position: absolute;
  top: 25px;
  left: 50px;
}

#informacoes {
  width: 100px;
  height: 150px;
  position: absolute;
  top: 665px;
  left: 200px;
  background-color: transparence;
  box-shadow: 2px 2px 2px 2px black;

}

#tabelaProxPeca {
  background-color: rgb(52, 51, 54);
  width: 150px;
  height: 75px;
}
#pScore {
  color: rgb(84, 235, 158);
  font-weight: bold;

}

#pLinhas {
  color: rgb(84, 235, 158);
  font-weight: bold;
}

table {
  border: 5px solid #9a7b60;
  border-color: rgb(84, 235, 158);

}

td {
  width:  30px;
  height: 30px;
}

div {
  margin-right: 50px;
  margin-left: 30px;
}

p {
  text-align: center;
  font-family: monospace;
  font-size: 16px;
  color: white;
}



body {
background-image: url(hud.jpg);
}
