*, *:after, *:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    position: relative;
}

s
/* needs to correspond to piece.js */

.gandalfup {
    background-color: #0f0d17;
}

.azul {
    background-color: #3498db;
}

.amarelo {
    background-color: #f1c40f;
}

.verde {
    background-color: #2ecc71;
}

.vermelho {
    background-color: #e74c3c;
}

.gandalf {
    background-color: #95a5a6;
}

.preto {
    background-color: #34495e;
}

.roxo {
    background-color: #9b59b6;
}

.gandalfup {
    background-color: #0f0d17;
}

.laranja {
    background-color: #e67e22;
}

.turquesa {
    background-color: #1abc9c;
}

body {
    background-color: #0f0d17;
}

.event-counter {
    width: 202px;
    height: 20px;
    margin: 20px auto;
    font-size: 10px;
    text-align: center;
    color: #f0f0f0;
    opacity: 50;
    font-family: fantasy;
}

.event-counter::before {
    content: 'Tempo: '
}

.event-counter::after {
    content: ' segundos'
}

.pontos, .level, .previsao-peca {
    position: fixed;
    left: 463px;
    z-index: 1;
    width: 202px;
    height: 40px;
    margin: 10px auto;
    font-size: 20px;
    text-align: center;
    font-family: fantasy;
    color: #f0f0f0;
}

.pontos {
    top: 10px;
    left: 480px;
    font-weight: lighter;
}

.pontos:before {
    content: 'Pontuação: ';
}

.grid {
    width: 202px;
    height: 402px;
    position: fixed;
    top: 50px;
    left: 300px;
    border: 1px solid #ff3c3c;
}

.previsao-peca {
    width: 102px;
    height: 102px;
    position: fixed;
    top: 50px;
    left: 520px;
}

.previsao-peca:after {
    font-weight: lighter;
    font-size: 10px;
    content: 'Era essa peça que você queria?'
}

.peca {
    width: 20px;
    height: 20px;
    display: inline-block;
    float: left;
}
